@charset "utf-8";
/* CSS Document */
#tabs li{font-family:"华文细黑";font-size:16px;}
#tabs{background:#FFF;width:900px;left:30px;top:15px;height:280px;}
#tabs-1{position:relative;width:100%;left:15px;top:0px;}
#tabs-1 table th{font-family:"微软雅黑";font-size:16px;padding-bottom:5px;border-bottom:thin #CCC solid;}
#tabs-1 td{height:30px; }
.tz,#tabs-1 p {color:#69F;cursor:pointer;}
.tz:hover, #tabs-1 p:hover{color:#63F;}
#tabs-1 p{position:relative;top:20px;left:-5px;}
#th1{width:600px;}
#th2{width:200px;}
#tabs-2{}
#tabs-2 ul{list-style-type:none;margin:40px -80px;}
#tabs-2 li{float:left;padding-left:120px;}
#tabs-2 a{font-size:28px;font-family:"微软雅黑";margin-left:10px;color:#6CF;cursor:pointer;text-decoration:none;}
#tabs-2 a:hover{color:#69F;}
#tabs-2 p{font-size:18px;font-family:"微软雅黑";margin-top:10px;}
#tab-4{position:absolute;margin:50px 30px;padding-right:20px;}
#tab-4 th{padding-right:60px;}
#tab-5{position:absolute;margin:30px 30px;}
#tab-5 th, #tab-5 td{padding:10px 50px 10px 10px;}

#edu-rf{position:relative; left:30px; top:10px;font-family:"微软雅黑";background:#FFF;}
#edu-rf p{font-family:"微软雅黑";font-size:17px;height:40px;border-bottom:solid thin  #CCC;padding:20px 20px 5px;;height:40px;}
#edu-rf span{position:absolute;top:23px;left:100px;color:#090;}
#edu-rf a{font-size:16px;}
#edu-rf a:hover{color:#390;cursor:pointer;}
#edu-rf ul{list-style:none;}
.unstyled li{height:30px;}
.more-bt{position:absolute;top:40px;left:900px;color:#fff;font-size:24px;background:#6BC0A5;;width:50px;height:20px;text-align:center;line-height:20px;cursor:default;border-radius:5px;}
.more-bt ul{margin:0; padding:0; list-style:none;height:100px;}
.more-bt li{font-size:15px;width:48px;text-align:center;cursor:pointer;height:20px;display:none}
.more-bt li:hover{color:#390;cursor:pointer;}